.tittle-pag {
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 60px 60px 0 0;
    border-bottom: 3px #2e2e2e solid;
    margin-bottom: 15px;
    color: #fff;
}

.dados {
    display: block;
    margin: 15px 0;
}

.question {
    background-color: palevioletred;
    border-radius: 360px;
    padding: 0 5px;
}

.tooltip {
    position: relative;
    display: block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 0;
    transition: opacity 0.3s;
    overflow: hidden;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
}

body {
    background-color: rgb(56, 56, 56);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.board {
    min-width: 250px;
    max-width: 500px;
    margin: auto;
}

.info {
    background-color: rgba(14, 24, 51, 0.158);
    width: 45%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.move-history {
    height: 50px;
    overflow-y: scroll;
}

.footer-text {
    margin-bottom: 0;
    color: #fff;
}

#author:link {
    color: white;
}

#author:visited {
    color: white;
}

#author {
    clear: both;
    color: white;
    padding: 4px;
}

#author:hover {
    color: rgb(255, 110, 110);
    background-color: rgba(0, 0, 0, 0.63);
    transition: 1s;
}

#author:active {
    color: white;
}

a {
    font-family: Hack, monospace;
    text-decoration: none;
    padding: 5px 10px;
}

h1 {
    margin-top: 0!important;
    color: white;
}

footer {
    position: static;
    bottom: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 35px;
    border-top: 3px#2e2e2e solid;
    border-bottom: 10p x#2e2e2e solid;
    padding-top: 35px;
    padding-bottom: 5px;
    text-align: center;
}